<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TwoCX</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Add Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delete">Delete Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/update">Update Order</a>
      </li>
    </ul>
    <form action="/logout?_method=DELETE" method="POST">
      <button id ="btn" type="submit">Log Out</button>
    </form>
  </nav>