<h1>Hi <%= user.name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<a href="/orders">Place an Order</a><br>
<a href="/delete">Delete Order</a><br>
<a href="/update">Edit Order</a>