<!DOCTYPE html>
<html>
<head>
<%- include('./partials/head'); %>
<title>Sign In Form</title>
</head>

<body class="loginForm">
<div class="sign-up-form">
<img src="img/usericon.png">
<h1>Log In</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %> 
<form method="POST" action="/login">
<input type="Email" class="input-box" id="email" name="email" placeholder="Your Email">
<input type="Password" class="input-box"id="password" name ="password" placeholder="Your Password">
<p><span><input type="checkbox" ></span>I agree to the Terms of Services</p>
<button type="submit" class="signUp-btn">Log In</button>
<hr>
<p class="or">OR</p>

<button class="signUp-btn"><a href="/auth/facebook" class="waves-effect waves-light btn social facebook">
  <i class="fa fa-facebook"></i> Sign in with facebook
</a></button>

<p>Don't have an account? <a href="/register">Sign Up</a></p>
</form>

</div>

</body>

</html>
