<!DOCTYPE html>
<html>
<head>
<%- include('./partials/head'); %>
<title>Sign Up Form</title>
</head>

<body class="loginForm">

<div class="sign-up-form">
<img src="img/usericon.png">
<h1>Sign Up</h1> 
<form action="/register" method="POST">
  <h4><%= error%></h4>
  <div>
    <input class="input-box" type="text" id="name" placeholder="Your Name" name="name" required>
  </div>
  <div>
    <input class="input-box" type="email" id="email" placeholder="Your Email" name="email" required>
  </div>
  <div>
    <input class="input-box" type="password" id="password" placeholder="Your password" name="password" required>
  </div>
  <button class='signUp-btn'type="submit">Register</button>
</form>

</div>

</body>

</html>





