<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container"></body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <form action="/delete" method="POST">
    <div>
      <label for="orderNumber">order Number:</label>
      <input class="input-box" type="number" id="orderNumber" name="orderNumber" required>
    </div>
    <button id="btn" type="submit">Delete</button>
</form>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>