
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container"></body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <form action="/update" method="POST">

    <div>
      <label for="customerName">Customer Name :</label>
      <input class="input-box" type="text" id="customerName" name="customerName" required>
    </div>
    

    <div>
      <label for="orderNumber">Update order Number :</label>
      <input class="input-box" type="number" id="orderNumber" name="orderNumber" required>
    </div>

    <button id="btn" type="submit">SearchCustomerName</button>
</form>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>


