<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container"></body>
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <form action="/orders" method="POST">
    <div>
      <label for="orderName">OrderName:</label>
      <input class="input-box" type="text" id="orderName" name="orderName" required>
    </div>
    <div>
      <label for="customerName">customerName:</label>
      <input class="input-box" type="text" id="customerName" name="customerName" required>
    </div>
    <div>
      <label for="orderNumber">orderNumber:</label>
      <input class="input-box" type="number" id="orderNumber" name="orderNumber" required>
    </div>
    <button id= "btn" type="submit" name>Place order</button>
  </form>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
